[Assisted Install]

License Accepted=1

Deployment Options=0

Admin Console User={{ admin_user }}

Admin Console Password={{ admin_password }}

Admin Console PIN={{ admin_pin }}

License Certificate Path=/tmp/fms/LicenseCert.fmcert

SkipDialog=1